.car-card {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  z-index: 1;
  background-color: #ffffff;
}
.car-card > img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
}
.car-card-details {
  margin: 5px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.car-card-details > h2 {
  color: #023047;
  font-size: 1.125rem;
}
.car-card-driver {
  display: flex;
  color: #011627;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
  font-size: 0.75rem;
}
.car-card-driver-age {
  margin-left: 10px;
}
.car-card-options {
  display: flex;
  margin-bottom: 14px;
}
.car-card-option {
  display: flex;
  justify-content: center;
  width: 25.3px;
  height: 27px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #023047;
  border-radius: 999px;
  background-color: #ffffff;
}

.fuel {
  background-color: #0081a7;
  border-radius: 999px;
}
.car-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-card-price > button {
  width: 107px;
  height: 30px;
  border: 1px solid #0081a7;
  border-radius: 6px;
  color: #023047;
}
.car-card-price > button:hover {
  color: #ffffff;
  background-color: #0081a7;
}
.price {
  display: flex;
  flex-direction: column;
  color: #011627;
}
.price > p {
  font-size: 0.75rem;
}

.price > strong {
  font-size: 1.25rem;
}

button:hover{
  cursor: pointer;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}